* {
  border-radius: 0;
  border: 0px;
  outline: none;
	min-width: unset;
	min-height: unset;
	padding: 0;
	margin: 0;
  transition: none;
  box-shadow: none;
  text-shadow: none;
	font-family: "DejaVu Sans 10";
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
}

#scroll {
	border: 1px solid #eeeeee;
	background-color: #333333;
	color: #eeeeee;
	padding: 0;
}

#entry {
	padding: 2px;
}

#text {
	color: #eeeeee;
}

#entry:selected {
	color: #333333;
	background-color: #eeeeee;
}
#text:selected {
	color: #333333;
}
