<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>
<menu id="exit-menu" label="Exit">
	<item label="Exit openbox">
		<action name="Execute">
			<command>openbox --exit</command>
		</action>
	</item>
	<separator/>
	<item label="Suspend">
		<action name="Execute">
			<command>suspend</command>
		</action>
	</item>
	<item label="Hibernate">
		<action name="Execute">
			<command>hibernate</command>
		</action>
	</item>
	<item label="Reboot">
		<action name="Execute">
			<command>reboot</command>
		</action>
	</item>
	<item label="Poweroff">
		<action name="Execute">
			<command>poweroff</command>
		</action>
	</item>
</menu>
<menu id="root-menu" label="Openbox 3">
	<item label="Terminal (termite)">
		<action name="Execute">
			<command>termite</command>
		</action>
	</item>
	<item label="File Manager (pcmanfm)">
		<action name="Execute">
			<command>pcmanfm</command>
		</action>
	</item>
	<item label="Web Browser (firefox)">
		<action name="Execute">
			<command>firefox</command>
		</action>
	</item>
	<item label="Editor (nvim)">
		<action name="Execute">
			<command>termite -e "nvim"</command>
		</action>
	</item>
	<separator/>
	<item label="Mount kontrakurs">
		<action name="Execute">
			<command>sshfs mkn@kontrakurs.org:/var/www/html/kontrakurs /home/mkn/Documents/kontrakurs</command>
		</action>
	</item>
	<separator/>
  	<menu id="exit-menu"/>
</menu>

</openbox_menu>
